@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 1em;
  text-align: center;
}

nav {
  border: 2px solid black;
  font-size: 2rem;
  line-height: 2.8;
  width: 600px;
  margin: 1rem auto;
  border-radius: 2rem;
}

nav h2 {
  background-color: gold;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
}

ul li {
  list-style-type: none;
  border-top: 2px solid #000;
}
li a {
  display: block;
}

li:last-child a {
  border-radius: 0 0 2rem 2rem;
}

li a,
li a:visited {
  text-decoration: none;
  color: #333;
}

li a:hover,
li a:focus {
  background-color: #333;
  color: whitesmoke;
}
