@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

/* Block Level Element take 100% width and Start in a new line. */

/* 
main {
  background: aqua;
  width: 50%;
} */

.opposite {
  /* The Element is inline but we can provide height margin and padding etc properties. */
  display: inline-block;
  background: #333;
  color: whitesmoke;
  margin-top: 100px;
  height: 100px;
  padding: 4rem;
}

p {
  background-color: lightgray;
}

ul {
  /* display: none; */
  list-style-type: none;
  text-align: right;
  background-color: rgb(0, 0, 0);
  padding: 0.5rem;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:visited {
}

li a:hover,
li a:focus {
  text-decoration: underline;
  color: blueviolet;
}
