@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: decimal;
  padding: 0;
}

ul {
  list-style-type: square;
  text-align: center;
  list-style-position: inside;
  color: #00f;
  line-height: 1.6;
  /* list-style-image: url("images/checkmark.png"); */
}

/* : pesudo class selector */
ul li:nth-child(even) {
  color: red;
}

/* :: pesudo element selector */
ul ::marker {
  color: red;
  font-family: monospace;
  font-size: 1.5em;
  content: "Only $5 >> ";
}
